---
layout: sort
---


{% for post in site.posts %}<!-- for -->

  {% unless post.next %}<!-- unless -->

  <h2>{{ post.date | date: '%Y' }}</h2>

  <ul>

  {% else %}<!-- unless -->

    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}

    {% if year != nyear %}<!-- if -->

  </ul>

  <h2>{{ post.date | date: '%Y' }}</h2>
  <ul>

    {% endif %}<!-- if -->

  {% endunless %}<!-- unless -->

    <li>
      <span>{{ post.date | date: "%b %d" }}</span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>

{% endfor %}<!-- for -->

  </ul>
