---
layout: blog
---

<!-- post list -->
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <h2 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <p class="post-summary">
      {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
    </p>
    <!-- <ul class="post-info">
      <li class="post-date">
        <a href="#">{{ post.date | date: "%b %-d, %Y" }}</a>
      </li>
      <li class="post-tags">
        <ul>
          {% for category in post.categories %}
          <li><a href="#">#{{ category }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul> -->
  </li>
  {% endfor %}
</ul><!-- post list -->
