<!-- footer -->
<footer>
  <ul class="social-list">
    <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
  </ul>
  © 2016 dhpark. All rights reserved.
</footer><!-- footer -->

<script src="{{ "/assets/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/simplog.js" | prepend: site.baseurl }}"></script>

</script>
