<!-- header -->
<header id="gb-header">

	<h1><a href="{{ "/" | prepend: site.baseurl }}">SIMPLOG</a></h1>

	<nav class="gb-nav">
		<ul>

      {% if page.path == "index.html" %}
			<li class="active"><a href="{{ "/" | prepend: site.baseurl }}">about</a></li>
			{% else %}
			<li><a href="{{ "/" | prepend: site.baseurl }}">about</a></li>
			{% endif %}

      {% if page.path != "index.html" or page.path != "contact.html" %}
			<li class="active"><a href="{{ "/blog" | prepend: site.baseurl }}">blog</a></li>
			{% else %}
			<li><a href="{{ "/blog" | prepend: site.baseurl }}">blog</a></li>
			{% endif %}

      {% if page.path != "contact.html" %}
			<li class="active"><a href="{{ "/contact" | prepend: site.baseurl }}">contact</a></li>
			{% else %}
			<li><a href="{{ "/contact" | prepend: site.baseurl }}">contact</a></li>
			{% endif %}

		</ul>
	</nav>

</header><!-- header -->
