<!-- header -->
<header id="gb-header">

	<h1><a href="{{ "/" | prepend: site.baseurl }}">Simplog</a></h1>

	<nav class="gb-nav">
		<ul>

      {% if page.path == "index.html" %}
			<li class="active"><a href="{{ "/" | prepend: site.baseurl }}">about</a></li>
			{% else %}
			<li><a href="{{ "/" | prepend: site.baseurl }}">about</a></li>
			{% endif %}

      {% if page.path == "blog.html" %}
			<li class="active"><a href="{{ "/blog" | prepend: site.baseurl }}">blog</a></li>
			{% else %}
			<li><a href="{{ "/blog" | prepend: site.baseurl }}">blog</a></li>
			{% endif %}

      {% if page.path == "category.html" %}
			<li class="active"><a href="{{ "/category" | prepend: site.baseurl }}">category</a></li>
      {% else if page.path == "archive.html" %}
			<li class="active"><a href="{{ "/category" | prepend: site.baseurl }}">category</a></li>
			{% else %}
			<li><a href="{{ "/category" | prepend: site.baseurl }}">category</a></li>
			{% endif %}

		</ul>
	</nav>

</header><!-- header -->
