
body {
  color: #333 ;
  font-family: 'Noto Sans Korean', sans-serif;
  line-height: 1.8 ;
  background: #fff ;
}

.wrapper {
  max-width: 720px ;
  padding: 75px 50px 20px ;
  margin: 0 auto ;
  box-sizing: border-box ;
}


/* header */
header {
  position: relative ;
  padding: 0px 10px 25px ;
  border-bottom: 1px solid #ededed ;
  margin-bottom: 100px ;
}

header h1 {
  font-size: 30px ;
  font-weight: 300 ;
}

header .gb-nav {
  position: absolute ;
  bottom: 0 ;
  right: 10px ;
  height: 100% ;
  padding-bottom: 15px ;
  box-sizing: border-box ;
}
header .gb-nav:before {
  /* 메뉴 중앙 정렬 코드 */
  content: ' ' ;
  display: inline-block ;
  height: 100% ;
  vertical-align: middle ;
}
header .gb-nav ul {
  display: inline-block ;
  vertical-align: middle ;
}
header .gb-nav ul li {
  display: inline-block ;
  margin-left: 20px ;
  font-size: 18px ;
  font-weight: 200 ;
}
header .gb-nav ul li a {
  color: #999 ;
}
header .gb-nav ul li.active a {
  color: #333 ;
}
header .gb-nav ul li a:hover {
  color: #333 ;
}


/* section */
section {
  padding: 0 10px ;
  margin-bottom: 100px ;
}


/* footer */
footer {
  position: relative ;
  padding: 15px 10px ;
  border-top: 1px solid #ddd ;
  color: #999 ;
  font-size: 13px ;
  font-weight: 200 ;
  text-align: left ;
}
footer .social-list {
  position: absolute ;
  right: 10px ;
}
footer .social-list li {
  display: inline-block ;
  margin-left: 10px ;
}
footer .social-list li:hover {
  color: #333 ;
}


/* blog */
#blog .post-list > li {
  /*padding-bottom: 50px ;*/
  /*border-bottom: 1px solid #ededed ;*/
  margin-bottom: 75px ;
}
#blog .post-list > li:last-child {
  border: none ;
  margin-bottom: 30px ;
}

#blog .post-title {
  margin-bottom: 10px ;
  font-size: 20px ;
  /*font-weight: 300 ;*/
  line-height: 1.4 ;
}
#blog .post-title::first-letter {
  text-transform: capitalize ;
}

#blog .post-summary {
  color: #666 ;
  font-size: 14px ;
  font-weight: 300 ;
  line-height: 2.0 ;
}
#blog .post-summary::first-letter {
  text-transform: capitalize ;
}

#blog .post-info {
  position: relative ;
}

#blog .post-info .post-date {
  color: #aaa ;
  font-size: 12px ;
  font-weight: 300 ;
  text-decoration: underline ;
}
#blog .post-info .post-date a:hover {
  color: #666 ;
}

#blog .post-info .post-tags {
  position: absolute ;
  right: 0 ;
  top: 0 ;
  color: #ccc ;
  font-size: 12px ;
  font-weight: 300 ;
}
#blog .post-info .post-tags ul li {
  display: inline-block ;
  margin-right: 5px ;
}
#blog .post-info .post-tags ul li a:hover {
  color: #666 ;
  text-decoration: underline ;
}


/* post */
#post > * {
  margin-bottom: 50px ;
}
#post .post-info {
  position: relative ;
  padding: 0 ;
  margin-bottom: 50px ;
  list-style: none ;
}
#post .post-info .post-date a {
  color: #aaa ;
  font-size: 12px ;
  font-weight: 300 ;
  text-transform: uppercase ;
}
#post .post-info .post-date a:hover {
  color: #666 ;
}

#post .post-info .post-tags {
  position: absolute ;
  right: 0 ;
  top: 0 ;
}
#post .post-info .post-tags ul li {
  display: inline-block ;
  margin-right: 5px ;
}
#post .post-info .post-tags ul li a {
  color: #ccc ;
  font-size: 12px ;
  font-weight: 300 ;
  text-decoration: none ;
}
#post .post-info .post-tags ul li:hover a {
  color: #666 ;
}

#post h2 {
  font-size: 24px ;
}
#post h3 {
  margin: 80px 0px 40px ;
  font-size: 20px ;
}
#post h4 {
  margin: 70px 0px 30px ;
  font-size: 18px ;
}
#post h5 {
  margin: 70px 0px 20px ;
  font-size: 16px ;
}
#post p {
  color: #666 ;
  font-size: 16px ;
  font-weight: 300 ;
}
#post ul {
  list-style: disc ;
  padding-left: 50px ;
  color: #666 ;
  font-weight: 300 ;
}
#post ol {
  list-style: decimal ;
  padding-left: 50px ;
  color: #666 ;
  font-weight: 300 ;
}
#post a {
  color: #999 ;
  font-size: 16px ;
  font-weight: 300 ;
  text-decoration: underline ;
}
#post a:hover {
  color: #333 ;
}
#post img {
  width: 100% ;
}

#post iframe {
  width: 1024px!important ;
  margin-left: -212px ;
}
@media screen and (max-width: 1280px) {
  #post iframe {
    width: 100%!important ;
    margin: 0 ;
  }
}


@media screen and (max-width: 767px) {
  .wrapper {
    padding: 30px 10px ;
  }
  header {
    margin-bottom: 50px ;
  }
  header h1 {
    font-size: 30px ;
  }
  header .gb-nav ul li {
    margin-left: 10px ;
  }
  .post-list > li {
    padding-bottom: 30px ;
    margin-bottom: 50px ;
  }
  .post-list >li .post-title {
    font-size: 20px ;
  }
  footer {
    font-size: 10px ;
  }
}
