<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrapper">

      {% include header.html %}

      <section id="sort">

        <div class="sort-area">
          <a href="{{ "/archive" | prepend: site.baseurl }}">sort by year</a>
          &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          <a href="{{ "/category" | prepend: site.baseurl }}">sort by category</a>
        </div>

        {{ content }}

      </section>

      {% include footer.html %}

    </div>
  </body>

</html>
