<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrapper">

      {% include header.html %}

      <section id="sort">

        <div class="link">
          {% if page.path == "category.html" %}
    			<a class="active" href="{{ "/category" | prepend: site.baseurl }}">category</a>
    			{% else %}
    			<a href="{{ "/category" | prepend: site.baseurl }}">category</a>
    			{% endif %}
          &#124;
          {% if page.path == "archive.html" %}
    			<a class="active" href="{{ "/archive" | prepend: site.baseurl }}">archive</a>
    			{% else %}
    			<a href="{{ "/archive" | prepend: site.baseurl }}">archive</a>
    			{% endif %}
        </div>

        {{ content }}

      </section>

      {% include footer.html %}

    </div>
  </body>

</html>
